<form class="login-form d-flex flex-column align-items-center">
  <div class="mb-3">
    <label for="username-login" class="form-label yellow">Username: </label>
    <input type="text" class="form-control" id="username-login" />
  </div>
  <div class="mb-3">
    <label for="password-login" class="form-label yellow">Password: </label>
    <input type="password" class="form-control" id="password-login" />
  </div>
  <button class="my-3" type="submit">Submit</button>
  <button type="button" data-bs-toggle="modal" data-bs-target="#signUpModal">
    No pieces in your inventory yet? Click Here to Create an Account!
  </button>
</form>

<div
  class="modal fade"
  id="signUpModal"
  tabindex="-1"
  aria-labelledby="signUpModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h5 class="modal-title modal-text-bold" id="signUpModalLabel">Sign Up</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body bg-dark bg-opacity-50">
        <form class="signup-form">
          <div class="modal-text-style">
            <label for="username-signup">Username:</label>
            <input type="text" id="username-signup" />
          </div>
          <div class="modal-text-style">
            <label for="email-signup">E-Mail:</label>
            <input type="text" id="email-signup" />
          </div>
          <div class="modal-text-style">
            <label for="password-signup">Password:</label>
            <input type="password" id="password-signup" />
          </div>
          <div>
            <button type="submit">Sign Up!</button>
          </div>
        </form>
      </div>
      <div class="modal-footer bg-dark">
        <button type="button" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="/javascript/login.js"></script>
<script src="/javascript/email.js"></script>