/* ========Everything=========== */
* {
    box-sizing: border-box;
  }
  
  body,
  html,
  .new-post-form {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    color: black;
    background: -webkit-linear-gradient(
      top,
      rgba(125, 126, 125, 1) 0%,
      rgba(14, 14, 14, 1) 100%
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
  }
  
  main {
    flex: 1;
    padding: 2% 4%;
  }
  
  header {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
    font-size: 1.75rem;
  }
  
  footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
  }
  
  /* =========================== */
  
  /* ========Basics============= */
  
  h8,
  h6,
  h3,
  h4,
  h2,
  h5,
  .yellow {
    color: #ffe23d;
  }
  
  a {
    text-decoration: none;
    color: #ffe23d;
    font-weight: bold;
    transition: color 0.1s;
  }
  
  a:hover {
    color: #834556;
  }
  
  button {
    background-color: #834556;
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: background-color 0.1s;
    cursor: pointer;
    border-radius: 5px;
  }
  */ button:hover {
    background-color: #683341;
  }
  
  textarea,
  input {
    padding: 0.5%;
    border-radius: 5px;
    border: 1px solid #ccc;
  
    color: rgb(0, 0, 0);
    font-size: 20px;
  }
  
  textarea:focus,
  input:focus {
    outline: none;
    border: 1px solid #f7d200;
  }
  
  textarea {
    min-width: 40%;
    min-height: 100px;
    font-size: 14px;
  }
  
  form > div {
    margin-bottom: 2%;
  }
  
  form label {
    display: block;
  }
  
  /* =========================== */
  
  .post-list {
    margin: 0.25rem;
    padding: 0;
    list-style: none;
  }
  
  .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  /* ========Home Page Banner====== */
  
  h1 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: "Raleway", cursive;
    position: relative;
    background: black;
    padding: 20px;
    letter-spacing: 30px;
    animation: comein 1.5s 1 ease-in-out forwards;
  }
  
  h1:before {
    content: "";
    position: absolute;
    left: 50%;
    top: -50px;
    width: 600px;
    margin-left: -300px;
    margin-top: -220px;
    height: 600px;
    background: radial-gradient(50% 50%, ellipse closest-side, #444, black);
    z-index: -1;
  }
  
  h1:after {
    content: "";
    position: absolute;
    top: -1px;
    right: -1px;
    left: -1px;
    bottom: -1px;
    z-index: -1;
    background: linear-gradient(left, black, #eee, black);
  }
  
  @keyframes comein {
    0% {
      letter-spacing: 100px;
      color: rgba(255, 255, 255, 0);
    }
    70% {
      letter-spacing: 20px;
    }
    100% {
      letter-spacing: 30px;
      color: rgba(255, 255, 255, 1);
    }
  }
  
  /* =========================== */
  
  /* ========Modals========= */
  
  .modal-text-style {
    font-weight: bold;
    color: black;
  }
  
  .modal-text-bold {
    font-weight: bold;
    color: #ffe23d;
  }
  
  /* =========================== */
  
  /* ====Posts/Comments/Ratings==== */
  
  .delete-post-btn {
    background-color: #d41414;
  }
  
  .post {
    margin-bottom: 2%;
    line-height: 150%;
  }
  
  .post .title span {
    font-style: italic;
    font-size: 90%;
    color: #7d7d7d;
  }
  
  .modal-text-style {
    font-weight: bold;
    color: black;
  }
  
  .modal-text-bold {
    font-weight: bold;
    color: #ffe23d;
  }
  
  .comment {
    padding: 1%;
    margin-bottom: 1%;
  }
  
  .comment .meta {
    font-size: 90%;
    margin-bottom: 0.5%;
    opacity: 0.6;
  }
  
  .new-post-form input {
    width: 300px;
  }
  
  